.nav-item {
    display: block;
    font-size: 1.2rem;
    list-style: none;
    margin: 12px 0;

    @include desktop {
        display: inline-block;
        margin: 0 0 0 18px;

        &:first-child {
            margin-left: 0;
        }
    }

    &__link {
        font-weight: 500;
        opacity: 0.85;
        text-decoration: none;

        &:focus,
        &:hover {
            opacity: 1;
        }

        @include desktop {
            color: $color-white;
        }
    }
}
